<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="z-[1]  fixed p-4 top-0 left-0 w-full h-full bg-background bg-opacity-40 overflow-auto place-items-center grid text-text">
        <div class="py-2 rounded-2xl mx-8 p-0 w-4/5 bg-background" >
            
            <div class="flex items-center justify-between space-x-10 mx-8 my-0">
                <img class="h-16 " src="./Images/3cbfbe148597341fa56f2f87ade90956.png" alt="Logo">
                <h1 class="text-center text-header text-4xl block ">Gabi Collections</h1>
                <span class="text-header text-4xl">&times</span>
            </div>  
            
            <div class="  space-x-6 m-4 md:flex block">
                <img class='border-header border-2 rounded-xl mx-auto md:mx-8 h-96 'src="./Images/Selam-tesfaye-Ethiopian-Celebrities-Best-Dressed-Habesha-Kemis-for-2022.jpg">
                <div class="bg-text text-black mr-8 border-header rounded-3xl p-4 border-2 space-y-4 w-3/5">
                    <p>Price : <span>3000</span></p>
                    <p>Quantity : <span>7</span></p>
                    <div class="bg-text bg-white border border-black rounded-2xl p-2">
                        <p class="text-black">How would you like to pay?</p>
                        <div class="flex space-x-6 cursor-pointer ">
                            <img class="h-20 opacity-40 hover:opacity-100" src='./Images/TeleBirr-Logo.svg'>
                            <img class="h-20 opacity-40 hover:opacity-100" src="./Images/images.png">
                            <img class="h-20 opacity-40 hover:opacity-100" src='./Images/Paypal_2014_logo.png'>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
        
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./JS/tailwiind.js"></script>
</body>
</html>