 .swiper {           
    height: 500px; 
}
.hamburger{
    cursor: pointer;
    width:24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    margin-right: 40px;
}
.ham-top,.ham-middle,.ham-bottom{
    position:absolute;
    top:0;
    left:0;
    width: 24px;
    height: 2px;
    background: #66fcf1;
    transform: rotate(0);
    transition: all 0.5s;
    
}
.ham-middle{
    transform: translateY(7px);
}

.ham-bottom{
    transform: translateY(14px);
}.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .ham-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}.open .ham-middle{
    display: none;
}.open .ham-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}